@mixin start_style{
	/* Layout */
	.ba-container{
	// padding-left: 20px;
	// padding-right: 20px;
	max-width: 750px;
}

/* Typography */
// a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
}



@mixin topline {
	margin: 30px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
	-ms-align-items: center;
	align-items: center;
	.topline__logo {
		display: inline-block;}
		.ba-topline-list {
			list-style: none;
			text-transform: uppercase;
			width: 100%;
			text-align: right
		}
		.ba-topline-list__item{
			display: inline-block;
			padding-right: 30px;

		}
		& :last-child{
			padding-right: 0;
		}
		& a{
			color: #fff;
			width: 100%;
			text-decoration: none;
			background-color: transparent;
		}
	}

	@mixin center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@mixin link {
		text-decoration: none;
// line-height: 100%;
cursor: pointer;
margin: 0;
padding: 0;
}

@mixin flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
	-ms-align-items: center;
	align-items: center;
}
@mixin scale{
transform: scale(1.1, 1.1);
transition: ease .5s;
box-shadow: 0 0 40px #075c;
}